langchain
google-generativeai
streamlit
nltk
unstructured[all-docs]
pydantic
lxml
IPython
requests
pypdf
streamlit-pdf-viewer
tiktoken
PyMuPDF
markdown
faiss-cpu 
langchain-community   
langchain_google_genai
opencv-python-headless
 transformers 
 sentence-transformers